.imagefond img {
    width: 100%;
    height: 258px;
    opacity: 70%;
}

header {
    font-family: Rajdhani;
    color: #000000;
    font-size: 70px;
    text-align: right;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.Titre {
    font-family: rochester;
    display: flex;
    flex-direction: column;
    color: #FEFDFD;
    font-size: 100px;
    text-align: left;
    padding-left: 70px;
    position: absolute;
    top: 21px;
    left: 97px;
}

.sous-titre {
    padding-right: 70px;
    position: absolute;
    top: 166px;
    right: 2px;
}

.imagefond2 img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    opacity: 20%;
    margin-left: 763px;
    margin-bottom: 20px;
}

.texte {
    font-family: Questrial;
    font-size: 20px;
    position: absolute;
    top : 250px;
    padding-top: 124px;
    padding-left: 82px;
    padding-right: 761px;
}

footer {
    font-family: Rajdhani;
    font-size: 30px;
    display: flex;
    color: #000000;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F7CDCD;
    margin-top: 33px;
}

.accueil {
    font-family: Rochester;
    color: #FFFFFF;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
      color: #000000;
      font-size: larger;
}